@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.departures {
    @include font(14px, $font, $verdana);
    margin: 40px auto;
    max-width: 900px;
    width: 100%;

    table {
        text-align: center;
    }
    th, td {
        padding: 10px;
    }
}