.departures {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  margin: 40px auto;
  max-width: 900px;
  width: 100%; }
  .departures table {
    text-align: center; }
  .departures th, .departures td {
    padding: 10px; }
