@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.departures {
    @include font(14px, $font, $verdana);
    margin: 30px auto;
    max-width: $break-small-desktop;
    width: 100%;

    table {
        text-align: center;
    }

    th,
    td {
        padding: 10px;
    }
}